<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
  <div id="mySidenav" class="sidenav">
      <a class="menuitem" href="./"><i class="glyphicon glyphicon-home"></i>&emsp;Home</a>

      <div class="user"><i class="glyphicon glyphicon-user"></i>&emsp;User&emsp;<i
              class="glyphicon glyphicon-chevron-down"></i>
          <div class="dropdown" id="dropdown">
              <a class="dropdownitem" href=".?act=profile">Profile</a>
              <a class="dropdownitem" href=".?act=resetpw">Reset Password</a>
          </div>
      </div>

      <a href=".?act=game" class="menuitem"><i class="material-icons">videogame_asset</i>&emsp;Game</a>

      <a href=".?act=rank" class="menuitem"><i class="fa fa-trophy" aria-hidden="true"></i>&emsp;Rank</a>

      <a href=".?act=contact" class="menuitem"><i class="glyphicon glyphicon-earphone"></i>&emsp;Contact</a>


      <a href="/users/logout" class="logout"><i class="glyphicon glyphicon-log-out"></i>&emsp;Logout</a>

  </div>

  <div id="main" class="main">
      <div id="topbar" class="topbar">
          <i class="glyphicon glyphicon-th-list" onclick="openNav()"></i>
          <span style="right:15;position:absolute;">Hi !  <%=user_msg%>  <img src=<%=icon_msg%> class="iconarea"></span>
      </div>

      <div id="content">  
        <% include ./partials/content %> 
      </div>
  </div>

  <script src="javascripts/dashboard.js"></script>
  <script src="javascripts/content.js"></script>